/*--------------------------------------------------------------
  XX.X Variables
--------------------------------------------------------------*/

$body-background-color: #EEEEEE;
$body-font-color: #6b6b6b;
$body-font-size: 18px;
$body-line-height: 1.1;


/* Orange */
$orange-1: #F19525;


/* Blues */
$blue-1: #6582A1;
$blue-2: #8FB6D3;
$blue-3: #CFDFED;
$blue-4: #6582a1;

/* Greys */
$grey-1: #BCCAD0;
$grey-2: #EEEEEE;
$grey-3: #565656;
$grey-4: #3e3e3e;

$pure-white: #fff;
$pure-black: #000;

$font-white: #fff;
$font-black: #000;

/* Font weights */

$font-family-weight-3: 300; /* Light */
$font-family-weight-4: 400; /* Normal */
$font-family-weight-7: 700; /* Bold */
$font-family-weight-9: 900; /* Ultra-Bold */
$font-uppercase: uppercase;

$body-font: 'lato', sans-serif;

/* Lato Font */
$font-lato: 'Lato', sans-serif;



/* Links */
/* $link: #; */
/* $link-hover: #; */
$link-underline: underline;
