/*  EVENTS LISTING PAGE
=================================================================== /// */

.event-listing-date{
	padding: 0;
	font-size: 16px;
	color: #6b6b6b;
}

.event-listing-location{
	font-size: 16px;
	color: #6b6b6b;
}

.event-aside h3{
	font-size: 20px;
}