/*  HOME PAGE
=================================================================== /// */

.hero-wrapper{
	max-width: 1100px;
	margin: 0 auto;
		background: url(/a/i/hero-image-1200x558.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 558px;	
}

.hero-text{
	padding-top: 17%;	
	& p{
		text-align: center;
		color: $pure-white;
		font-family: $font-roboto;
		font-size: 24px;
		padding-bottom: 0;
	}
}

.hero-text p:nth-of-type(2){
	font-size: 40px;
	padding-top: 0;
}

/* a:-webkit-any-link { color: $blue-1; } */

.hero-button-wrapper{
	padding: 5% 0 5% 0;
	text-align: center;
}

.hero-button{
	margin: 5% 0;
}

.hero-button-1{
	margin-right: 5%;
	@media screen and (max-width: 445px) {
		margin-right: 0;
	}
}

.hero-button-2{
	
}