/*--------------------------------------------------------------
  XX.X Footer
--------------------------------------------------------------*/

.footer{
	background-color: $grey-4;
	color: $pure-white;
	font-family: $font-lato;
}
