/*--------------------------------------------------------------
  XX.X Lists
--------------------------------------------------------------*/

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 15px;
}

menu,
ol {
  padding: 0 0 0 15px;
}

ul {
  padding: 0;
}

ol {
  list-style: decimal; 
  list-style-position: inside;
}

ul {
  list-style: none; 
  list-style-position: inside;
}

nav ul,
nav ol {
  list-style: none; 
  list-style-image: none;
}
